<div class="card p-1 rounded" style="margin: 5px;">
    <img src={{imagen}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
        <p class="card-text">{{descripcion}}</p>
        <p><small class="card-text">{{codigo}}</small></p>
        <a href="https://wa.me/3572439438/?text=Hola,%20quer%C3%ADa%20consultarte%20acerca%20del%20producto%20{{nombre}}"
            class="btn btnAzul" matTooltip="Solicitar producto">Solicitar producto</a>
    </div>
</div>