<div class="floating-object" *ngIf="isNavVisible">
    <a class="nav-link TextWhite iconoFlecha" (click)="onClickNavLink('barraNav')" matTooltip="Subir">
        <i class="fa-solid fa-circle-chevron-up"></i>
    </a>
</div>

<div class="container TextWhite rounded-2 ff mtt">
    <div class="row">
        <div class="col-8 col-sm-5 col-md-5 col-lg-5">
            <h3 class="text-start py-3 mt-1">ORDENES DE PRODUCCIÓN</h3>
        </div>

        <div class="col-4 col-sm-7 col-md-7 col-lg-7 text-start py-3">
            <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nueva Orden">NUEVO</button>
        </div>
    </div>
    <hr />
    <label class="mb-2" for="">BUSCAR</label>
    <div class="row py-3 mtc-5 mb-4" style="text-align: center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
                matTooltip="Filtrar" />
        </div>
        <div class="col-md-6 col-lg-6">
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-responsive mtc-5 TextWhite" matSort (matSortChange)="sortData($event)">
            <thead class="table mtc-5 table-sm TextWhite text-center">
                <tr>
                    <!-- <th mat-sort-header="numeroOrden" scope="col">NÚMERO ORDEN</th> -->
                    <th mat-sort-header="nombreCliente" scope="col">CLIENTE</th>
                    <th mat-sort-header="nombreProd" scope="col">PRODUCTO</th>
                    <th mat-sort-header="nombreUsuario" scope="col">USUARIO</th>
                    <th mat-sort-header="cantidad" scope="col">CANTIDAD</th>
                    <th mat-sort-header="fechaPedido" scope="col">FECHA PEDIDO</th>
                    <th mat-sort-header="fechaEntrega" scope="col">FECHA ENTREGA</th>
                    <th mat-sort-header="estadoOrden" scope="col">ESTADO</th>
                    <!-- <th></th> -->
                    <th scope="col">CAMBIAR ESTADO</th>

                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let ordP of listado">
                    <!-- <td class="text-start">{{ ordP.numeroOrden }}</td> -->
                    <td class="text-start">{{ ordP.nombreCliente }} {{ordP.apellidoCliente}}</td>
                    <td class="text-start">{{ ordP.nombreProd }}</td>
                    <td class="text-start">{{ ordP.nombreUsuario }}</td>
                    <td>{{ ordP.cantidad }}</td>
                    <td>{{ ordP.fechaPedido | date}}</td>
                    <td>{{ ordP.fechaEntrega |date }}</td>
                    <!-- <td class="text-start">{{ ordP.estadoOrden }} </td> -->
                    <td [ngClass]="getEstadoClass(ordP.estadoOrden)">{{ ordP.estadoOrden }}</td>

                    <td class="text-center">
                        <!-- <button data-bs-toggle="modal" class="fa-solid fa-pen-to-square iconoLista fondo me-3"
                            data-bs-target="#myModal" data-bs-whatever="@mdo"
                            (click)="setNumeroOrdenSeleccionado(ordP.numeroOrden)" #abrirModal
                            matTooltip="Modificar estado"></button> -->
                            <button *ngIf="ordP.estadoOrden === 'Pendiente'" data-bs-toggle="modal" class="fa-solid fa-pen-to-square iconoLista fondo me-3"
                            data-bs-target="#myModal" data-bs-whatever="@mdo"
                            (click)="setNumeroOrdenSeleccionado(ordP.numeroOrden)" #abrirModal
                            matTooltip="Cambiar Estado"></button>
                    </td>
                    <!-- <td>
                        <i type="button"  *ngIf="ordP.estadoOrden === 'Pendiente'" class="fa-solid fa-pencil me-3 iconoLista"
                            (click)="Modificar(ordP.idOrdenProduccion)" matTooltip="Modificar orden"></i>
                    </td> -->

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MODIFICAR ESTADO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #cerrarModal></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10">
                        <div class="mb-3">
                            <div class="col-12 table-container">
                                <select class="form-select inputColor" name="idEstadoOrdenProduccion"
                                    [(ngModel)]="idEstadoOrdenProduccion">
                                    <option *ngFor="let estados of estado" [value]="estados.idEstadoOrdenProduccion">
                                        {{ estados.descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btnAzul text-start" matTooltip="Modificar estado"
                            (click)="actualizarOrden()">MODIFICAR</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>