<div class="container TextWhite rounded-2 ff mtt">
  <!-- <h1 class="text-center py-2">PROVEEDORES</h1>
  <hr />
  <label class="mb-2" for="">BUSCAR</label>
  <div class="row py-2 mtc-5 mb-2" style="text-align: center">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8">
      <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
        matTooltip="Filtrar" />
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
      <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nuevo proveedor">NUEVO</button>
    </div>
  </div>
  <hr /> -->
  <div class="row">
    <div class="col-5 col-sm-5 col-md-4 col-lg-3">
        <h3 class="text-start py-3 mt-1">PROVEEDORES</h3>
    </div>

    <div class="col-7 col-sm-7 col-md-8 col-lg-9 text-start py-3">
        <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nuevo proveedor">NUEVO</button>
    </div>
</div>
<hr />
<label class="mb-2" for="">BUSCAR</label>
<div class="row py-3 mtc-5 mb-4" style="text-align: center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
            matTooltip="Filtrar" />
    </div>
    <div class="col-md-6 col-lg-6">
    </div>

</div>
  <div class="table-responsive">
    <table class="table table-responsive mtc-5 TextWhite" matSort (matSortChange)="sortData($event)">
      <thead class="table mtc-5 table-sm TextWhite">
        <tr>
          <th mat-sort-header="nombre" scope="col">NOMBRE</th>
          <th mat-sort-header="apellido" scope="col">APELLIDO</th>
          <th mat-sort-header="telefono" scope="col">TELÉFONO</th>
          <th mat-sort-header="provincia" scope="col">PROVINCIA</th>
          <th mat-sort-header="localidad" scope="col">LOCALIDAD</th>
          <th scope="col">MATERIA PRIMA</th>
          <th scope="col">PROVEEDOR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prov of listado">
          <td>{{ prov.nombre }}</td>
          <td>{{ prov.apellido }}</td>
          <td>{{ prov.telefono}}</td>
          <td>{{ prov.provincia}}</td>
          <td>{{ prov.localidad}}</td>
          <td class="text-center">
            <button data-bs-toggle="modal" class="fa-solid fa-circle-info iconoLista fondo me-3" data-bs-target="#myModal"
              data-bs-whatever="@mdo" #abrirModal (click)="cargarMpPrProv(prov.idProveedor)"
              matTooltip="Detalle de Materia Prima"></button>

            <i type="button" class="fa-solid fa-plus me-4 iconoLista" (click)="CrearPrecio(prov.idProveedor)"
              matTooltip="Agregar precio a la materia prima"></i>
          </td>
          <td class="text-center">
            <i type="button" class="fa-solid fa-pencil me-3 iconoLista" (click)="Modificar(prov.idProveedor)"
              matTooltip="Modificar proveedor"></i>

            <!-- <i type="button" class="fa-solid fa-pen-to-square me-3 iconoLista"
              (click)="ModificarPrecio(prov.idProveedor)" matTooltip="Modificar precio a la materia prima"></i> -->
            <i type="button" class="fa-solid fa-ban iconoListaD me-3" *ngIf="prov.activo"
              (click)="Desactivar(prov.idProveedor)" matTooltip="Desactivar proveedor"></i>
            <i type="button" class="fa-solid fa-check iconoListaA me-3" *ngIf="!prov.activo"
              (click)="Activar(prov.idProveedor)" matTooltip="Activar proveedor"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" *ngIf="estadoRespuesta !== 400">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DETALLE DE PRECIOS DE LAS MATERIAS PRIMAS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #cerrarModal></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-responsive mtc-5 ">
            <thead class="table mtc-5 table-sm ">
              <tr>
                <th scope="col">PROVEEDOR</th>
                <th scope="col">C. MATERIA PRIMA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">FECHA DESDE</th>
                <th scope="col">FECHA HASTA</th>
                <th scope="col">PRECIO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prov of lista">
                <td>{{ prov.nombre}} {{prov.apellido}}</td>
                <td>{{ prov.codigo }}</td>
                <td>{{ prov.materiaPrima }}</td>
                <td>{{ prov.fechaDesde | date: 'dd/MM/yyyy'}}</td>
                <td>{{ prov.fechaHasta | date: 'dd/MM/yyyy'}}</td>
                <td>${{ prov.precio}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>