<div class="floating-object" *ngIf="isNavVisible">
    <a class="nav-link TextWhite iconoFlecha" (click)="onClickNavLink('barraNav')" matTooltip="Subir">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</div>
<div class="TextWhite container">

    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <h1 class="bold">TÉRMINOS Y CONDICIONES GENERALES</h1>
        </div>
    </div>

    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <h6 class="bold">TÉRMINOS Y CONDICIONES DE USO DEL SITIO WEB DE BOCHAS FRANCA SRL</h6>
        </div>
    </div>
    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <p>
                Gracias por visitar la página de términos y condiciones (los “Términos y Condiciones”) del sitio web
                Bochas Franca SRL (“Bochas Franca”). El acceso y uso del sitio web, www.bochasfranca.com.ar (el “Sitio
                web de Bochas Franca”) está sujeto a los siguientes Términos y Condiciones y a las leyes y demás
                normativa aplicable. Al acceder y navegar en el Sitio web de Bochas Franca, usted acepta estos
                Términos y Condiciones sin limitación o condición alguna, incluyendo los términos y condiciones
                adicionales y las modificaciones que Bochas Franca publique periódicamente. Ciertos servicios y otras
                ofertas disponibles en el Sitio web de Bochas Franca pueden tener términos y condiciones adicionales
                aplicables, los cuales pueden leerse en las páginas que contengan dichos servicios u ofertas o por medio
                de un vínculo en dichas páginas u otras direcciones referenciadas hacia dichos términos y condiciones
                adicionales. Bochas Franca podrá realizar cambios en los Términos y Condiciones cuando sea pertinente
                por lo que le recomendamos revisarlos periódicamente antes de usar el Sitio web de Bochas Franca.
            </p>
        </div>
    </div>
    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <p class="bold">1. Propiedad Intelectual </p>
            <p>
                <small> El Sitio web de Bochas Franca es propiedad de Bochas Franca SRL y operado por ella y, salvo por
                    el
                    contenido generado e incorporado a el por los usuarios, está protegido por las leyes de derecho de
                    autor, marcas registradas y otros derechos que resguardan la propiedad intelectual bajo las leyes de
                    Argentina. Los derechos de autor sobre el contenido (salvo el contenido generado por los usuarios) y
                    el
                    software proporcionado son propiedad de Bochas Franca o están licenciados a favor de ella. Bochas
                    Franca
                    se reserva todos los derechos sobre el Sitio web de Bochas Franca no otorgados expresamente
                    en los Términos y Condiciones.
                </small>
            </p>
        </div>
    </div>
    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <p class="bold"> 2. Comportamiento Ilegal </p>
            <p>
                <small class="bold">Los usuarios deberán abstenerse de: </small>
                <small>

                    <ul class="mt-3">(1) utilizar el Sitio web de Bochas Franca para cualquier fin ilícito, en violación
                        a las leyes y
                        regulaciones aplicables;</ul>
                    <ul>(2) publicar en el Sitio web de Bochas Franca contenidos que contengan vínculos que inicien
                        descargas de material en infracción a derechos de propiedad intelectual o de otra forma sea
                        ilícito;</ul>
                    <ul>(3) usar el Sitio web de Bochas Franca para acosar u hostigar a otra persona;</ul>
                    <ul>(4) usar el Sitio web de Bochas Franca para participar en cualquier actividad de Internet que
                        viole los derechos de privacidad de otras personas, incluyendo sin limitación, recabar y
                        distribuir
                        información sobre usuarios de Internet sin su autorización, con excepción de lo que permita la
                        ley,
                        o</ul>
                    <ul>(5) realizar rifas, sorteos o concursos con o sin intervención del azar utilizando el Sitio web
                        de
                        Bochas Franca.</ul>
                </small>
            </p>
        </div>
    </div>
    <div class="row mt-5 text-start">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <p class="bold"> 3. Restricciones de contenido </p>
            <p>
                <small class="bold">
                    Los usuarios deberán abstenerse de publicar, distribuir o transmitir en el Sitio web de Bochas
                    Franca cualquier contenido:
                </small>
                <small>
                    <ul class="mt-3"> (1) ilícito, acosador, difamatorio, abusivo, discriminatorio, amenazante, obsceno,
                        doloso,
                        calumnioso, injuriante o invasivo de la privacidad de cualquier persona humana o entidad;</ul>
                    <ul>(2) que viole o vulnere los derechos de autor, marcas, secretos industriales, patentes u otros
                        derechos de propiedad intelectual de cualquier persona humana o entidad, incluyendo sin
                        limitación
                        el uso de materiales de terceros protegidos por las leyes de derechos de autor, sin la
                        autorización
                        correspondiente, ni utilizar marcas de terceros sin la autorización o derecho correspondiente,
                        ni
                        utilizar o distribuir información de terceros protegida o no como secreto industrial en
                        violación a
                        cualquier obligación de confidencialidad;</ul>
                    <ul> (3) que el usuario no tenga derecho a distribuir o transmitir de acuerdo a la ley o a
                        relaciones
                        contractuales o fiduciarias;</ul>
                    <ul> (4) que contenga datos personales de menores de edad sin la debida autorización de sus
                        representantes legales, o</ul>
                    <ul> (5) que contenga datos personales sensibles de otra persona sin contar con autorización expresa
                        y
                        legal para difundirlos o comunicarlos.</ul>
                </small>
            </p>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#1b345d" fill-opacity="1"
        d="M0,96L120,122.7C240,149,480,203,720,218.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
    </path>
</svg>