@media screen and (max-width: 937px) and (min-height: 2327px) {
    .carousel.pointer-event {
      touch-action: auto;
    }
  }
 
 .card img {
     max-width: 90%;
     max-height: 90%;
 }

 * .card {
     margin: 0 0.5em;
     box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
     border: none;
     border-radius: 0;
 }

 .lighter {
     font-weight: lighter;
 }

 .vertical-line {
     border-left: 1px solid #ccc;
     height: 100%;
     width: 2px;
     /* Establece el ancho de la línea vertical */
 }

 a {
     text-decoration: none;
 }

 .borderNone {
     border: none;
     outline: none;
     box-shadow: none;
 }

 .carousel-control-prev-icon .fa-angle-left {
     color: #162B4E;
 }

 .carousel-control-next-icon .fa-angle-right {
     color: #162B4E;
 }

 .carousel,
 .carousel-inner,
 .carousel-control-prev,
 .carousel-control-next {
   border: none !important;
   box-shadow: none !important;
   outline: none !important;
 }
