<div class="container TextWhite rounded-2 ff mtt">
    <h1 class="text-center py-2">CLIENTE</h1>
    <hr />
    <label class="mb-2" for="">BUSCAR</label>
    <div class="row py-2 mtc-5 mb-2" style="text-align: center">
        <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
                matTooltip="Filtrar" />
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nuevo cliente">NUEVO</button>
        </div>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table table-responsive mtc-5 TextWhite" matSort (matSortChange)="sortData($event)">
            <thead class="table mtc-5 table-sm TextWhite">
                <tr>
                    <th mat-sort-header="nombre" scope="col">NOMBRE</th>
                    <th mat-sort-header="apellido" scope="col">APELLIDO</th>
                    <th mat-sort-header="telefono" scope="col">TELÉFONO</th>
                    <th mat-sort-header="direccion" scope="col">DIRECCIÓN</th>
                    <th mat-sort-header="provincia" scope="col">PROVINCIA</th>
                    <th mat-sort-header="localidad" scope="col">LOCALIDAD</th>
                    <th scope="col">FUNCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cli of listado">
                    <td>{{ cli.nombre }}</td>
                    <td>{{ cli.apellido }}</td>
                    <td>{{ cli.telefono}}</td>
                    <td>{{cli.direccion}}</td>
                    <td>{{ cli.provincia}}</td>
                    <td>{{ cli.localidad}}</td>
                    <td class="text-center">
                        <i type="button" class="fa-solid fa-pencil me-3 iconoLista"
                            (click)="Modificar(cli.idCliente)" matTooltip="Modificar cliente"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>