<div class="floating-object" *ngIf="isNavVisible">
  <a class="nav-link TextWhite iconoFlecha" (click)="onClickNavLink('barraNav')" matTooltip="Subir">
      <i class="fa-solid fa-circle-chevron-up"></i>
  </a>
</div>

<div class="container TextWhite rounded-2 ff mtt">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-3 col-lg-3">
        <h3 class="text-start py-3">CATÁLOGO</h3>
    </div>

    <div class="col-8 col-sm-8 col-md-9 col-lg-9 text-start py-3">
        <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nuevo catálogo">NUEVO</button>
    </div>
</div>
<hr />
<label class="mb-2" for="">BUSCAR</label>
<div class="row py-3 mtc-5 mb-4" style="text-align: center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
            matTooltip="Filtrar" />
    </div>
    <div class="col-md-6 col-lg-6">
    </div>

</div>
  <div class="table-responsive">
    <table class="table table-responsive mtc-5 TextWhite" matSort (matSortChange)="sortData($event)">
      <thead class="table mtc-5 table-sm TextWhite">
        <tr>
          <th mat-sort-header="codigo" scope="col">CÓDIGO</th>
          <th mat-sort-header="nombre" scope="col">NOMBRE</th>
          <th mat-sort-header="colorProducto" scope="col">DESCRIPCION</th>
          <th mat-sort-header="disenioProducto" scope="col">IMAGEN</th>
          <th scope="col">FUNCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalogo of listado">
          <td>{{ catalogo.codigo }}</td>
          <td>{{ catalogo.nombre }}</td>
          <td>{{ catalogo.descripcion}}</td>
          <td><img class="imagen" src="{{catalogo.imagen}}" alt=""></td>
          <td>
            <i type="button" class="fa-solid fa-pencil me-3 iconoLista" (click)="Modificar(catalogo.idCatalogo)"
              matTooltip="Modificar catálogo"></i>
            <i type="button" class="fa-solid fa-trash me-3 iconoListaD" (click)="EliminarCatalogo(catalogo.idCatalogo)"
              matTooltip="Eliminar catálogo"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>