.btnCeleste{
    background-color: #5192FF;
    color: #fff;
    border-color: #5192FF
}

.btnCeleste:hover{
    background-color: #467cda;
    color: #fff;
    border-color: #467cda
}

.iconoW{
    color: #25D366;
    font-size: 21px;
}
.iconoW:hover{
    color: #128C7E;
    font-size: 21px;
}

.iconoY{
    color: #7315ee;
    font-size: 21px;
}
.iconoY:hover{
    color: #8b3af4;
    font-size: 21px;
}

.map-container {
    position: relative;
    height: 600px; /* Ajusta la altura según sea necesario */
    
}

.map-frame {
    border: 1px solid #162B4E;
    height: 100%;
}

#map {
    height: 100%;
}