<div>
    <img src="https://res.cloudinary.com/dawraxuq1/image/upload/v1680536147/FrancaSW/My_project-1_1_browzy.png"
        class="d-block w-100" alt="...">
</div>
<div class="container py-3 mt-1">
    <p class="TextWhite text-center">Bochas Franca, comienza en el negocio de la fabricación de bochas en abril de 2001,
        por gente
        con experiencia de
        muchos años en la materia.
    </p>
    <p class="TextWhite text-center"> Se adquiere toda la maquinaria nueva, al igual que las matrices para su
        fabricación. Desde
        entonces se ha tenido
        en cuenta el más mínimo detalle en los procesos de fabricación lo cual garantiza prácticamente un 0 % de fallas
        de fabricación, de cada 10 mil bochas fabricadas solo 1 devuelta.</p>
    <p class="TextWhite text-center">Por el motivo antes mencionado nuestro producto tiene una garantía de 12 meses
        contra fallas de
        fabricación.
    </p>
    <p class="TextWhite text-center">Nuestro objetivo como empresa es mantener la seriedad y la calidad de nuestros
        productos en el
        tiempo, lo cual
        garantiza la mejor publicidad.</p>
    <hr class="TextWhite">
    <div class="TextWhite">
        <div class="row">
            <div class="col-6 text-end">
                <p>Teléfono:</p>
            </div>
            <div class="col-6 text-start">
                <p>+54 3572-435838</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-end">
                Correo electrónico:
            </div>
            <div class="col-6 text-start">
                <p>bochasfranca@yahoo.com.ar</p>
            </div>
        </div>
    </div>
</div>