<div class="container TextWhite rounded-2 ff mtt">
  <h1 class="text-center py-2">PRODUCTOS</h1>
  <hr />
  <label class="mb-2" for="">BUSCAR</label>
  <div class="row py-2 mtc-5 mb-2" style="text-align: center">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8">
      <input type="text" class="form-control inputColor" [(ngModel)]="filtro" (keyup)="filtrarTabla()"
        matTooltip="Filtrar" />
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
      <button class="btn btnCeleste" (click)="agregar()" matTooltip="Nuevo producto">NUEVO</button>
    </div>
  </div>
  <hr />
  <div class="table-responsive">
    <table class="table table-responsive mtc-5 TextWhite" matSort (matSortChange)="sortData($event)">
      <thead class="table mtc-5 table-sm TextWhite">
        <tr>
          <th mat-sort-header="codigo" scope="col">CÓDIGO</th>
          <th mat-sort-header="nombre" scope="col">NOMBRE</th>
          <th mat-sort-header="colorProducto" scope="col">COLOR</th>
          <th mat-sort-header="disenioProducto" scope="col">DISEÑO</th>
          <th mat-sort-header="medidaProducto" scope="col">MEDIDA</th>
          <th mat-sort-header="tipoProducto" scope="col">TIPO</th>
          <th mat-sort-header="precioBocha" scope="col">PRECIO</th>
          <th scope="col">PRODUCTOS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prodc of listado">
          <td>{{ prodc.codigo }}</td>
          <td>{{ prodc.nombre }}</td>
          <td>{{ prodc.colorProducto}}</td>
          <td>{{ prodc.disenioProducto}}</td>
          <td>{{ prodc.medidaProducto}}</td>
          <td>{{ prodc.tipoProducto}}</td>
          <td>${{ prodc.precioBocha }}</td>
          <td>
            <i type="button" class="fa-solid fa-pencil me-3 iconoLista" (click)="Modificar(prodc.idProducto)"
              matTooltip="Modificar producto"></i>
            <i type="button" class="fa-solid fa-ban iconoListaD" *ngIf="prodc.activo" (click)="Desactivar(prodc.codigo)"
              matTooltip="Desactivar producto"></i>
            <i type="button" class="fa-solid fa-check iconoListaA" *ngIf="!prodc.activo" (click)="Activar(prodc.codigo)"
              matTooltip="Activar producto"></i>
          </td>
          <td>
            <!-- <i  type="button" class="fa-solid fa-plus ms-4 iconoLista" (click)="AgregarCatalogo(prodc.idProducto)"
            matTooltip="Agregar catálgo"></i> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>